node_modules
**/node_modules
.next
.turbo
dist
build
coverage
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.DS_Store
*.pem
README.md
.vscode
.idea
apps/docker

