REDIS_URL=redis://localhost:6379
BINANCE_WS_URL=wss://ws.backpack.exchange/
TIMESCALE_DB_USER=myuser
TIMESCALE_DB_PASSWORD=mypassword
TIMESCALE_DB_HOST=localhost
TIMESCALE_DB_PORT=5433
TIMESCALE_DB_NAME=mydb
JWT_SECRET=mysecret
NODE_ENV=production

PORT=8000
FRONTEND_URL=http://localhost:3001
WEBSOCKET_PORT=7070

USER_EMAIL=lakug2004@gmail.com
USER_PASSWORD=pvjc ohid eqfl gmpj
BACKEND_URL=http://localhost:8000
DATABASE_URL=postgresql://postgresql:postgresql@localhost:5434/exness
MONGODB_URL='mongodb://admin:admin123@localhost:27017/exness_snapshots?authSource=admin'