REDIS_URL=redis://localhost:6379
JWT_SECRET=mysecret
NODE_ENV=production

PORT=8000
FRONTEND_URL=http://localhost:3001

USER_EMAIL=lakug2004@gmail.com
USER_PASSWORD=pvjc ohid eqfl gmpj
BACKEND_URL=http://localhost:8000
BETTER_AUTH_SECRET=replace-with-openssl-rand-base64-32
GOOGLE_CLIENT_ID=replace-with-google-oauth-client-id
GOOGLE_CLIENT_SECRET=replace-with-google-oauth-client-secret
DATABASE_URL=postgresql://postgresql:postgresql@localhost:5434/exness
MONGODB_URL='mongodb://admin:admin123@localhost:27017/exness_snapshots?authSource=admin'
